<!DOCTYPE html>
<html data-th-replace="~{celadon-template :: layout(~{::section})}">
    <body>
        <section>
            <div id="reminderEditor"></div>
            <nav>
                <a class="btn btn-primary" data-hx-post="reminders" hx-target="#reminderEditor">+</a>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-th-text="#{reminder.title.label}"></th>
                        <th data-th-text="#{reminder.completed.label}"></th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="reminder, stats : ${reminders}">
                        <td data-th-text="${stats.index + 1}">1</td>
                        <td data-th-text="${reminder.title}">To do</td>
                        <td data-th-text="${reminder.completed}">true</td>
                        <td>delete</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>
