<!DOCTYPE html>
<html data-th-replace="~{celadon-template :: layout(~{::section})}">
    <body>
        <section>
            <div id="reminderEditor"></div>
            <nav>
                <a class="btn btn-primary" data-hx-post="reminders" hx-target="#reminderEditor">+</a>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th data-th-text="#{reminder.title.label}"></th>
                        <th data-th-text="#{reminder.notes.label}"></th>
                        <th data-th-text="#{reminder.completed.label}"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </body>
</html>
