<div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Add reminder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/celadon/vc/reminders" method="POST">
                    <input data-th-attr="value=${reminder.id}" name="id" type="hidden"/>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="titleInput" name="title" type="text" data-th-attr="value=${reminder.title}"/>
                        <label class="form-label" for="titleInput">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" data-th-text="${reminder.notes}" id="notesInput"  name="notes" rows="4" cols="64"></textarea>
                        <label for="notesInput">Notes</label>
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input" data-th-checked="${reminder.completed}" type="checkbox" value="true" id="completedCheck" name="completed">
                        <label class="form-check-label" for="completedCheck">
                            Completed
                        </label>
                    </div>
                    <div class="bm-3">
                        <button class="btn btn-secondary" name="action" value="CANCEL">Cancel</button>
                        <button class="btn btn-primary" name="action" value="SAVE">Save</button>
                    </div>            
                </form>
            </div>
        </div>
    </div>
</div>
