<!DOCTYPE html>
<html data-th-replace="~{celadon-template :: layout(~{::section})}">
    <body>
        <section>
            <div id="reminderEditor"></div>
            <table class="table table-sm align-middle">
                <thead>
                    <tr>
                        <th data-th-text="#{reminder.title.label}"></th>
                        <th data-th-text="#{reminder.notes.label}"></th>
                        <th data-th-text="#{reminder.completed.label}"></th>
                        <th class="text-end">
                            <a class="btn btn-outline-secondary btn-sm" data-hx-get="reminders/editor" data-hx-target="#reminderEditor"><i class="bi bi-journal-plus"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody data-th-replace="~{reminder-items.html}"></tbody>
            </table>
        </section>
    </body>
</html>
